.Toolbar {
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  top:0;
  background: #032B43;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1;
  line-height: 2.3;
}
.Logo {
  height: 80%;
}
.Toolbar nav {
  height: 100%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}