.DrawerToggle {
  display: flex;
  flex-flow: column; 
  width: 40px;
  height: 60%;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
}

.DrawerToggle div {
  width: 90%;
  height: 4px;
  background: #fff;
}

@media (min-width: 500px) {
  .DrawerToggle {
    display: none;
  }
}