.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Success {
  background: #136F63;
  color: aliceblue;
}

.Danger {
  color: aliceblue;
  background: #bb4430;
}
.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
.btnDefault{
  padding: 10px 0 10px 0;
  text-align: center;
  line-height: 20px;
  background-color: #bb4430;
  letter-spacing: 0.3px;
  color: aliceblue;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer; 
}
.Submit {
  width: 80%;
  margin: 10px auto;
  background: #136F63;
}