.Input {
  width: 100%;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  margin-left: 10%;
}

.InputElement{
  outline: none;
  width: 80%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 6px 10px;
  font: inherit;
  display: block;
  margin: 10px auto;
  box-sizing: border-box;
  font-size: 18px;
}

.InputElement:focus {
  outline: none;
  background: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: salmon;
}

.Valid {
  border: 1px solid rgb(106, 161, 106)
}
