.Footer {
  width: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #231F20;
  min-height: 100px;
  position: relative;
  bottom: 0;

}